.navi-align {

    justify-content: flex-end;
}

.box {
    min-height: 100vh;
}

.carousel-item {
    height: 90vh;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: #e96a0c;
    border-radius: 50%;
    border: 5px solid transparent;
    outline: 1px solid #e96a0c;
}

.carousel-indicators [data-bs-target].active {
    opacity: 1;
}